body {
  color: white;
  background-color: black;

h1 {
  text-align: center;
}

#main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-library {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.container {

